.botao {
  color: #000;
  background-color: #bbe930;
  border: none;
  border-radius: 8px;
  width: 118px;
  height: 51px;
  font-weight: 800;
  transition: background-color 0.3s;
}

.botao:hover {
  background-color: white;
}
