/* Note que não precisamos de prefixos complexos */
.container {
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 400px;
}

.title {
  color: #ffffff;
}

body {
  background-color: #191919;
}
